export(checkDataAvailability)
export(checkDataAvailabilityForDateRange)
export(checkSummarizedDataAvailability)
export(getCurrentTemperature)
export(getDailyMinMaxTemp)
export(getDetailedWeather)
export(getStationCode)
export(getSummarizedWeather)
export(getTemperatureForDate)
export(getWeatherForDate)
export(getWeatherForYear)
export(showAvailableColumns)
import(plyr)
