export(checkDataAvailability)
export(checkDataAvailabilityForDateRange)
export(getCurrentTemperature)
export(getDailyMinMaxTemp)
export(getStationCode)
export(getWeatherData)
export(getWeatherForDate)
export(getWeatherForYear)
import(plyr)
